body {
    background-color: #f6f6f6;
}

.title-header {
    font-family: 'Anton', sans-serif;
}
.title-body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.text_body {
    font-family: 'Cormorant Garamond', serif;
}